<div class="control-group form-group">
  <div class="controls">
    <h3>Full Name:</h3>
    <p><%= @contact.name %></p>
  </div>
</div>
<div class="control-group form-group">
  <div class="controls">
    <h3>Phone Number:</h3>
    <p><%= @contact.phone_number %></p>
  </div>
</div>
<div class="control-group form-group">
  <div class="controls">
    <h3>Email Address:</h3>
    <p><%= @contact.email %></p>
  </div>
</div>
<div class="control-group form-group">
  <div class="controls">
    <h3>Message:</h3>
    <p><%= @contact.message %></p>
  </div>
</div>
